<div id="headerwrap">
	<div class="container">
		<div class="row" id="content">
			<div class="col-lg-6 pull-right">
				<h1>What was the last game you played, that you enjoyed?</h1>
				<form class="form-inline" role="form">
				  <div class="form-group col-xs-12 no-padding-left">
				    <input type="text" class="input-lg col-xs-6" id="gameinput" ng-model="initialQuery" placeholder="Start typing the game title">
				  	<button type="submit" style="margin-left: 15px" class="btn btn-danger btn-lg col-xs-2" ng-click="runQuery()">Search!</button>
            <div class="results" ng-show="results.length">
              <ul>
                <li ng-repeat="game in results"><img src="{{ game.image.thumb_url }}">{{ game.name }}</li>
              </ul>
            </div>
				  </div>
				</form>
			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /headerwrap -->