<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 pull-right">
				<h1>What was the last game you played, that you enjoyed?</h1>
				<form class="form-inline" role="form">
				  <div class="form-group col-xs-12">
				    <input type="text" class="form-control col-xs-10" id="gameinput" placeholder="Start typing the game title"> 
				  	<button type="submit" style="margin-left: 15px" class="btn btn-danger col-xs-2">Search!</button>
				  </div>
				</form>					
			</div><!-- /col-lg-6 -->				
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /headerwrap -->