<div style="text-align: center; margin-top: 30px;"><h2>Based on your search, we would recommend these games:</h2></div>

<div id="headerwrap" class="" style="padding-top: 0px; width: 75%; margin: auto; padding-bottom: 30px; padding-top: 30px; border-radius: 15px;">
	<table class="table table-striped table-hover" style="color: #fff;">
	  <thead>
	    <tr>
	      <th colspan='1'>[Picture]</th>
	      <th>Title</th>
	      <th>Description</th>
	      <th>Platform(s)</th>
	      <th>More Info</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>1</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr>
	      <td>1</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr>
	      <td>1</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr>
	      <td>1</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr>
	      <td>1</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	  </tbody>
	</table> 
</div>